@font-face {
    font-family: 'Conthrax Sb';
    src: url('ConthraxSb-Regular.eot');
    src: url('ConthraxSb-Regular.eot?#iefix') format('embedded-opentype'),
        url('ConthraxSb-Regular.woff2') format('woff2'),
        url('ConthraxSb-Regular.woff') format('woff'),
        url('ConthraxSb-Regular.ttf') format('truetype'),
        url('ConthraxSb-Regular.svg#ConthraxSb-Regular') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

